:root {
	--font-main: 'Nunito Sans', sans-serif;
	--font-secondary: 'Open Sans', sans-serif;
	--element-color: #ff0000;
	--light-color: #ffffff;
	--dark-color: #000000;
	--article-text-color: #b2b2b2;
	--blog-text-color: #6a6a6a;
	--element-shadow-color: #ff00004d;
}

html {
	/* scroll-behavior: smooth; */
}

body {
	font-family: var(--font-main);
}

.container {
	max-width: 1088px;
	margin: 0 auto;
}

/* header */

header {
	display: flex;
	width: 100%;
	background-color: #00000066;
	height: 90px;
	border-bottom: 2px solid #ffffff33;
}

.content__logo {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--light-color);
}

.content__logo p {
	font-size: 35px;
	font-weight: bold;
}

.content__logo span {
	font-size: 35px;
	font-weight: 800;
	color: var(--element-color);
	margin-left: 10px;
}

.header__content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 486px;
	height: 88px;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__element {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 128px;
	height: 89px;
	border: none;
	transition: 0.2s;
}

.nav__element a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--light-color);
	padding: 30px;
}

.nav__element:hover {
	background-color: #ffffff33;
}

/* section */

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-image: url('../images/Image.jpg');
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 807px;
	z-index: -5;
}

.hero::before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 297px;
	z-index: 5;
}

.hero__title {
	color: var(--light-color);
	font-size: 90px;
	text-transform: uppercase;
	font-weight: 900;
	text-shadow: 0px 3px 6px #00000040;
}

.hero__text {
	text-align: center;
	color: var(--light-color);
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 54px;
}

.button__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.button__left,
.button__right {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--element-color);
	padding: 22px 55px;
	border-radius: 40px;
	background-color: var(--light-color);
}

.button__content a {
	transition: 0.3s;
}

.button__content a:hover {
	background-color: var(--element-color);
	color: var(--light-color);
	box-shadow: 0px 3px 6px #ff00004d;
}

.hero__arrow {
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	padding: 17px;
	border-radius: 50%;
	background-color: red;
	box-shadow: 0px 3px 6px #ff00004d;
}

/* blog */

.blog {
	display: flex;
	width: 100%;
	justify-content: center;
	position: absolute;
	top: 900px;
    padding-bottom: 100px;
}

.blog__content {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.blog__title {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 35px;
	color: var(--dark-color);
}

.blog__title::before {
	position: absolute;
	content: '';
	top: 20px;
	left: 436px;
	width: 50px;
	height: 3px;
	background-color: #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.blog__title::after {
	position: absolute;
	content: '';
	top: 20px;
	right: 436px;
	width: 50px;
	height: 3px;
	background-color: #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.blog__articles {
	display: flex;
	width: 100%;
	gap: 16px;
}

.article__card {
	width: 33%;
}

.article__title {
	text-transform: uppercase;
	font-size: 19px;
	color: var(--blog-text-color);
	margin: 25px 0 15px;
}

.article__text {
	font-size: 14px;
	color: var(--blog-text-color);
	font-weight: 300;
	margin-bottom: 15px;
}

.article__button {
	display: inline-block;
	padding: 11px 29px 10px;
	background-color: var(--element-color);
	border-radius: 40px;
	color: var(--light-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0px 3px 6px #ff00004d;
	transition: 0.2s;
}

.article__button:hover {
	background-color: var(--light-color);
	color: var(--element-color);
}

/* service */

.service {
	display: flex;
	width: 100%;
	justify-content: center;
	position: absolute;
	top: 1515px;
	background-color: #28272c;
    padding: 60px 0 100px;
}

.service__content {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.service__title {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 75px;
	color: var(--light-color);
}

.service__title::before {
	position: absolute;
	content: '';
	top: 20px;
	left: 410px;
	width: 50px;
	height: 3px;
	background-color: #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.service__title::after {
	position: absolute;
	content: '';
	top: 20px;
	right: 410px;
	width: 50px;
	height: 3px;
	background-color: #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.service__cards {
	display: flex;
	width: 100%;
	gap: 45px;
}

.service__card {
	text-align: center;
	width: 25%;
}

.service__card img {
	width: 170px;
	height: 170px;
}

.service-card__title {
	font-size: 19px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 15px 0;
}

.service-card__text {
	font-size: 14px;
	color: #b2b2b2;
	margin: 15px 0;
}

.service__button {
	display: inline-block;
	padding: 11px 29px 10px;
	background-color: var(--element-color);
	border-radius: 40px;
	color: var(--light-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	box-shadow: 0px 3px 6px #ff00004d;
	transition: 0.2s;
}

.service__button:hover {
	background-color: var(--light-color);
	color: var(--element-color);
}

/* contact */

.contact {
	position: absolute;
	width: 100%;
	top: 2159px;
    padding: 65px 0;
}

.contact__content {
	position: relative;
	display: flex;
	width: 100%;
	height: 489px;
	flex-direction: column;
	align-items: center;
}

.contact__title {
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 35px;
	color: var(--dark-color);
}

.contact__title::before {
	position: absolute;
	content: '';
	top: 20px;
	left: 401px;
	width: 50px;
	height: 3px;
	background-color: #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.contact__title::after {
	position: absolute;
	content: '';
	top: 20px;
	right: 401px;
	width: 50px;
	height: 3px;
	background-color: #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.contact__form {
	display: flex;
	width: 904px;
	justify-content: space-between;
	gap: 16px;
}

.form__img {
	width: 50%;
	height: 316px;
}

.contact__form form {
	display: flex;
	flex-direction: column;
	width: 50%;
}

input[type='text'] {
	height: 38px;
	width: 444px;
	margin-bottom: 20px;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
	padding: 10px;
	font-family: var(--font-main);
	font-size: 16px;
	outline: none;
}

input[type='text']:focus {
	border: 1px solid #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

input[type='email'] {
	height: 38px;
	width: 444px;
	margin-bottom: 20px;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
	padding: 10px;
	font-family: var(--font-main);
	font-size: 16px;
	outline: none;
}

input[type='email']:focus {
	border: 1px solid #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

textarea {
	min-height: 140px;
	max-width: 444px;
	min-width: 444px;
	margin-bottom: 20px;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
	padding: 10px;
	font-family: var(--font-main);
	font-size: 16px;
	outline: none;
}

textarea:focus {
	border: 1px solid #ff0000;
	box-shadow: 0px 1px 6px #ff00004d;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox {
	cursor: pointer;
	display: flex;
}

.checkbox span {
	height: 22px;
	flex-shrink: 0;
	flex-basis: 22px;
	border: 1px solid #d1d1d1;
	border-radius: 8px;
	cursor: pointer;
	margin-right: 10px;
}

.checkbox input:checked + span {
	background-image: url('../images/Icon\ Check.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.checkbox p {
	font-size: 10px;
	margin-bottom: 20px;
}

.form__button {
	align-self: flex-end;
	padding: 10px 52px;
    background-color: #fff;
	border: none;
    border: 1px solid #FF0000;
    box-shadow: 0px 3px 6px #FF00004D;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--element-color);
    transition: .2s;
    cursor: pointer;
}

.form__button:hover {
    background-color: var(--element-color);
    color: var(--light-color);
}

.footer {
    position: absolute;
    top: 2778px;
    width: 100%;
    height: 232px;
    padding: 40px 0;
    background-color: #28272C;
}

.footer__logo {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--light-color);
}

.footer__logo p {
	font-size: 25px;
	font-weight: bold;
}

.footer__logo span {
	font-size: 25px;
	font-weight: 800;
	color: var(--element-color);
	margin-left: 10px;
    margin-right: 5px;
}

.footer__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.footer__controls p {
    align-self: flex-end;
    color: #D1D1D1;
    font-size: 12px;

}

.footer__list{
    display: flex;
    width: 50%;
    height: 97px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 7px;
}

.footer__element {
    font-size: 14px;
}

.footer__element a{
    color: var(--light-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.footer__element a:hover {
    color: var(--element-color);
}
